html {
    scroll-behavior: smooth;
    transition: 0.9s ease-in;
  }

body {
    margin: 0px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.section1 {
    background-image: linear-gradient(to right bottom, rgba(30, 115, 172, 0.7), rgba(142, 57, 153, 0.6)), url("fast.gif");
    background-size: cover;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
    margin-bottom: 90px;
    margin: 32px;
}

nav {
    position: absolute;
    top: 60px;
    right: 5rem;
    color: white;
    font-size: 16px;
    font-weight: bolder;
  }

.nav-list {
    display: flex;
}

.nav-list li {
    list-style-type: none;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list a:hover {
    opacity: 0.6;
}


.btn-primary{
  background-color:blue;
  color: orange;
}

.btn-primary,
.btn-header {
    padding: 12px;
    background-color: cadetblue;
    font-weight: bold;
    border-radius: 12px;
}


.content1 {
    max-width: 900px;
    text-align: center;
    justify-content: center;
    color: white;
}

.hero_heading {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 70px;
    margin-bottom: -35px;
    margin-top: -60px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero_description {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.89);
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.heading-cards {
    text-align: center;
    font-size: 170px;
    text-transform: uppercase;
    margin: 40px 0 40px 0;
    color: rgb(88, 54, 107);
    letter-spacing: 1px;
}

.row {
    max-width: 70rem;
    margin: 0 auto; }
    .row::after {
      content: '';
      clear: both;
      display: table; }
    .row [class^="col-"] {
      float: left; }
    .row [class^="col-"]:not(:last-child) {
     margin-right: 6rem; }
    .row:not(:last-child) {
      margin-bottom: 6rem; }

      .row .col-1-of-2 {
        width: calc((100% - 6rem) / 2); }
      .row .col-1-of-3 {
        width: calc((100% - 2 * 6rem) / 3); }
      .row .col-1-of-4 {
        width: calc((100% - 3 * 6rem) / 4); }
      .row .col-2-of-4 {
        width: calc(2 * ((100% - 3 * 3rem) / 4) + 6rem); }
      .row .col-3-of-4 {
        width: calc(3 * ((100% - 3 * 3rem) / 4) + 2 * 6rem); }
  
  
  .section-tours {
    background-color: #f7f7f7; }
    
  .card {
    position: relative;
    right: -200px;
    height: 20rem; 
    overflow: hidden;
    margin: 50px 0 70px 0;
}

    .card__side {
      height: 20rem;
      transition: all .8s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      backface-visibility: hidden;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); 
}

    .card__side--front {
        background-color: #fff; }
    .card__side--back {
        transform: rotateY(180deg); }
    .card__side--back-1 {
          background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .card__side--back-2 {
          background-image: linear-gradient(to right bottom, #000428, #004e92); }
    .card__side--back-3 {
          background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }

    .card:hover .card__side--front {
      transform: rotateY(-180deg);
      cursor: pointer;
    }
    .card:hover .card__side--back {
      transform: rotateY(0);
      cursor: pointer; 
    }

    .card__picture {
      background-size: cover;
      height: 10rem;
      background-blend-mode: screen;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }

    .card__picture--1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(https://picsum.photos/300/250?random=5); }
    .card__picture--2 {
        background-image: linear-gradient(to right bottom, #000428, #004e92), url(https://picsum.photos/300/250?random=6); }
    .card__picture--3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(https://picsum.photos/300/250?random=7); }

    .card__heading {
      font-size: 1rem;
      text-transform: uppercase;
      color: #fff;
      font-weight: 300;
      position: absolute;
      top: 4rem;
      right: 2rem;
      text-align: right;
      width: 74%; }

    .card__heading-span {
      padding: .5rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
      .card__heading-span--1 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
      .card__heading-span--2 {
        background-image: linear-gradient(to right bottom, rgba(0, 4, 40, 0.85), rgba(0, 78, 146, 0.85)); }
      .card__heading-span--3 {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }

    .card__details {
       padding: 0.5rem; }
    .card__details ul {
        list-style: none;
        width: 80%;
        margin: 0 auto; }
    .card__details ul li {
        text-align: center;
        font-size: 1rem;
        padding: 0.5rem; }
    .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #eee; }

    .card__cta {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .card__price-box {
      color: #fff;
      text-align: center;
      margin-bottom: 8rem; }
    .card__price-only {
      font-size: 1rem;
      text-transform: uppercase; }
    .card__price-value {
      font-size: 2rem;
      font-weight: 100; }


    .section3 {
      background-image: linear-gradient(to right bottom, rgba(101, 29, 110, 0.75), rgba(18, 76, 114, 0.75)), url("giphy (3).gif");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 83vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 100%);
      margin: 32px;
    }

    .icons {
        margin-right: 70px;
    }

    .icons2 {
        margin-bottom: 18px;
    }

    .list-tech {
        display: flex;
        font-size: 40px;
        margin-right: 40px;
        justify-content: center;
    }

    .list-tech li:hover,
    .list-tech2 li:hover {
        transform: scale(1.2) translateY(0.2rem);
        -webkit-filter: drop-shadow(1.5px 1.5px 4px #222);
        filter: drop-shadow(1.5px 1.5px 4px #222);
        filter: brightness(150%);
        z-index: 20; 
        cursor: pointer;
    }

    .h3-skills {
        color: white;
        font-size: 42px;
        text-align: center;
        padding-bottom: 25px;
    }

    .h3-skills2 {
         color: white;
        font-size: 42px;
        text-align: center;
        padding-bottom: 25px;
    }

    .list-tech2 {
        display: flex;
        font-size: 130px;
        text-align: center;
        margin-right: 120px;
    }

    body .fa-html5 {
      color: #c54124;
      padding: 0 5px;
      margin-right: 20px;
    }
    
    body .fa-css3-alt {
      color: #2143ca;
      padding: 0 5px;
      margin-right: 20px;
    }
    
    body .fa-js {
      color: #c7b124;
      padding: 0 5px;
      margin-right: 20px;
    }
    
    body .fa-bootstrap {
      color: #c71d94;
      padding: 0 5px;
      margin-right: 20px;
    }
    
    body .fa-git-alt {
      color: #be3a1f;
      padding: 0 5px;
      margin-right: 20px;
    }

    .list-tech li,
    .list-tech2 li {
      list-style-type: none;
    }

    .fa-react {
        color: rgb(34, 165, 209);
        margin-right: 30px;
        margin-left: 100px;
    }

    .fa-node-js {
        color: rgb(40, 196, 40);
    }

    .section4 {
        height: 73vh;
        background-color: white;
    }

    .heading4 {
        font-size: 35px;
        color:  rgb(88, 54, 107);
    }

    .content4 {
        text-align: center;
        margin-top: 70px;
        font-weight: 500;

    }

    .float-left, 
    .float-left2 {
        float: left;
        font-size: 20px;
        color: rgb(66, 2, 66);
    }

    .float-left {
        margin-top: 100px;
    }

    .float-right {
        float: right;
        height: 400px;
        width: 400px;
        margin-bottom: 90px;
        margin-top: 40px;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px 18px #888888;
        transition: ease-in-out 0.4s;
    }

    .float-right:hover {
        cursor: pointer;
        transform: scale(1.2) translateY(0.2rem);
        -webkit-filter: drop-shadow(1.5px 1.5px 4px #222);
        filter: drop-shadow(1.5px 1.5px 4px #222);
        filter: brightness(100%);
        z-index: 20; 
    }

    .footer {
        background-color: #4C5F9A;
        padding: 2rem 0;
        margin: 0 32px 32px 32px;
        font-size: 1.4rem;
        text-decoration: none; }


        @media (max-width: 56.25em) {
        .footer {
            padding: 8rem 0; } }
        .footer__navigation {
          border-top: 1px solid #f1f1f1;
          padding-top: 2rem;
          display: inline-block; }

        @media (max-width: 56.25em) {
        .footer__navigation {
            width: 100%;
            text-align: center; } }
        .footer__list {
        list-style: none; 
        text-decoration: none;}
        .footer__item {
          display: inline-block; }


        .footer__copyright {
          border-top: 1px solid #f1f1f1;
          padding-top: 2rem;
          float: right;
          color: #f2f56a; }

          @media (max-width: 56.25em) {
            .footer__copyright {
              padding-top: 1rem;
              width: 100%;
              float: none;
              text-align: center; } }