/*
breakpoint choices
phone
tab-port
tab-land
big-dt
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  background-color: rgb(255, 255, 255);
}
@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

@keyframes leftIn {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  80% {
    transform: translateX(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes rightIn {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  80% {
    transform: translateX(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes bottomIn {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  80% {
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.floating {
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 2.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 5px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}

@-moz-keyframes Floating {
  from {
    -moz-transform: translate(0, 0px);
  }
  65% {
    -moz-transform: translate(0, 5px);
  }
  to {
    -moz-transform: translate(0, 0px);
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #64495e, #4c5f9a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
}
@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}
.heading-secondary:hover {
  transform: skewX(2deg) skewY(1deg);
  text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-secondary-sm {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #64495e, #4c5f9a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
}
.heading-secondary-sm:hover {
  transform: skewX(2deg) skewY(1deg);
  text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 50%;
  -webkit-filter: drop-shadow(1px 1px 2px #222);
  filter: drop-shadow(1px 1px 2px #222);
  border-radius: 2px;
  z-index: 10;
  transition: all 0.2s;
  position: absolute;
}
@media (max-width: 56.25em) {
  .composition__photo {
    float: left;
    position: relative;
    width: 28.333333%;
  }
}
.composition__photo--p1 {
  left: 0;
  top: 0;
  width: 35%;
}
@media (max-width: 56.25em) {
  .composition__photo--p1 {
    top: 0;
    left: 0;
    width: 33%;
  }
}
.composition__photo--p2 {
  left: 66%;
  top: 0;
  width: 35%;
}
@media (max-width: 56.25em) {
  .composition__photo--p2 {
    top: 0;
    left: 0;
    width: 33%;
    z-index: 100;
  }
}
.composition__photo--p3 {
  left: 33%;
  top: 50%;
  width: 35%;
}
@media (max-width: 56.25em) {
  .composition__photo--p3 {
    top: 0;
    left: 0;
    width: 33%;
  }
}
.composition__photo:hover {
  transform: scale(1.1) translateY(0.2rem);
  -webkit-filter: drop-shadow(1.5px 1.5px 4px #222);
  filter: drop-shadow(1.5px 1.5px 4px #222);
  z-index: 20;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;
  margin-bottom: -30px;
}
.card__side {
  color: #fff;
  font-size: 2rem;
  height: 30rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(
    to right bottom,
    #7c0e0e,
    rgba(155, 76, 76, 0.897)
  );
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #cf0000, #ff6f6f);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #056b01, #81ff7d);
}
.card__side--back-4 {
  background-image: linear-gradient(to right bottom, #00027ecb, #68b9fce0);
}
.card__side--back-5 {
  background-image: linear-gradient(to right bottom, #ffc404, #f8e472cc);
}
.card__side--back-6 {
  background-image: linear-gradient(to right bottom, #04068bcc, #04b9b9b7);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
  cursor: pointer;
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
  cursor: pointer;
}
.card__picture {
  background-size: cover;
  background-position: center center;
  height: 12rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
  background-image: linear-gradient(
      to right bottom,
      #0ea13f00,
      rgba(66, 185, 19, 0)
    ),
    url(maxresdefault.jpg);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #fc01b100, #4b0d0200),
    url(210106173237-burger-king-rebranding-video-slug.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #09580291, #044d10),
    url(photo-1512847930783-39fdc971594b.jpg);
}
.card__picture--4 {
  background-image: linear-gradient(to right bottom, #ffffff00, #978f1c00),
    url(iStock-531889697.jpg);
}
.card__picture--5 {
  background-image: linear-gradient(to right bottom, #ff8b0600, #83600100),
    url(original.jpg);
}
.card__picture--6 {
  background-image: linear-gradient(to right bottom, #07070709, #ee2bb300),
    url(stock-market-graph.jpg);
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 70%;
  line-height: 3.5rem;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(
    to right bottom,
    rgb(204, 67, 67),
    rgba(119, 29, 29, 0.226)
  );
}
.card__heading-span--2 {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 187, 0, 0.74),
    rgba(253, 145, 57, 0.747)
  );
}

.card__heading-span--3 {
  background-image: linear-gradient(
    to right bottom,
    rgba(2, 133, 13, 0.664),
    rgba(21, 31, 170, 0.24)
  );
}
.card__heading-span--4 {
  background-image: linear-gradient(
    to right bottom,
    rgba(14, 104, 107, 0.726),
    rgba(28, 50, 151, 0.322)
  );
}
.card__heading-span--5 {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 174, 24, 0.753),
    rgba(253, 180, 23, 0.616)
  );
}
.card__heading-span--6 {
  background-image: linear-gradient(
    to right bottom,
    rgba(4, 25, 119, 0.781),
    rgba(4, 174, 196, 0.705)
  );
}
.card__details {
  padding: 1rem 3rem;
  color: darkslategrey;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details li {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.card__details li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}
.card__box {
  text-align: center;
}
.card__description {
  font-size: 14px;
  margin-bottom: 1.5rem;
}
.card__svg-icon {
  width: 70%;
  position: absolute;
  left: -16%;
  top: -7%;
}
.card__svg-icon-2 {
  top: 2%;
  left: 0%;
  width: 35%;
}
.card__svg-icon-3 {
  width: 35%;
  top: 4%;
  left: 5%;
  filter: brightness(120%)
}
.card__svg-icon-4 {
  top: 0%;
  left: -10%;
  width: 30%;
}
.card__svg-icon-5 {
  top: 2%;
  left: -8%;
  width: 30%;
}
.card__svg-icon-6 {
  top: 4%;
  left: 0%;
  width: 30%;
}
@media (max-width: 56.25em) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    margin: 0 3rem;
  }
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0);
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card .card__details {
    padding: 1rem 3rem;
  }
  .card__cta {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0);
    width: 100%;
    padding: 7rem 4rem 4rem 4rem;
  }
  .card__box {
    text-align: center;
  }
}

.row {
  max-width: 95rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 4rem;
}
@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 3rem;
}
@media (max-width: 56.25em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
@media (max-width: 56.25em) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 5rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 5rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 5rem) / 3) + 5rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 5rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 5rem) / 4) + 5rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 5rem) / 4) + 2 * 5rem);
}

.btn {
  text-decoration: none;
  color: rgb(0, 89, 255);
  border-radius: 5px;
  font-size: 13px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 20px;
  margin: auto;
  position: relative;
  top: -5px;
}

.first-link,
.second-link {
  height: 30px;
  width: 65px;
  background-color: rgba(255, 255, 255, 0.836);
  justify-content: center;
  margin: auto;
  border-radius: 6px;
  margin-top: 7px;
  position: relative;
  top: 40px;
}

.first-link a:hover,
.second-link a:hover {
  color: black;
  text-decoration: none;
}
